.chat-message-item {
  display: flex;
  margin: 10px;
  $self: &;
  &--reversed {
    flex-direction: row-reverse;
    #{$self}__caret {
      left: auto;
      right: -12px;
    }
    #{$self}__content {
      margin: 0 10px 0 0;
      &__header {
        flex-direction: row-reverse;
      }
    }
  }
  &__mention-link {
    color: #00c961;
    padding-left: 18px;
    background-image: url(../../public/assets/svg/chat-username.svg);
    background-repeat: no-repeat;
  }
  &__avatar {
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
  &__caret {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #323442;
    left: -12px;
  }
  &__content {
    cursor: pointer;
    background-color: #323442;
    border-radius: 16px;
    padding: 10px;
    margin-left: 10px;
    position: relative;
    width: 100%;
    &__header {
      display: flex;
      justify-content: space-between;
      &__title {
        font-size: 13px;
        font-weight: bold;
      }
      &__date {
        color: $label;
        font-size: 12px;
      }
    }
    &__message {
      font-size: 12px;
    }
  }
}
