.editable-card {
  $self: &;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background: $primary;
  padding: 12px;
  &--clickable {
    cursor: pointer;
    #{ $self }__content__input {
      pointer-events: none;
    }
  }
  &__content {
    display: flex;
    &__title {
      user-select: none;
      font-weight: bold;
      font-size: 12px;
    }
    &__input {
      flex: 3;
      width: 100%;
      border: 1px solid transparent;
      background-color: transparent;
      color: $white;
      outline: 0;
      padding: 4px;
      font-size: 18px;
      text-align: center;
      &:hover {
        // TODO
        //border-color: lighten($primary, 10);
      }
    }
    &__icon-container {
      flex: 1;
      padding-left: 10px;
      @include flex-center;
    }
  }
}
