$red: #f0556c;
$separator-color: lighten($primary, 2);
$bet-slider-height: 13px;
$bet-slider-red: $red;
$bet-slider-green: #19bc9c;
$footer-height: 250px;
$mobile-footer-height: 78px;

$table-header-bg: $input-border;
