$red: #f0556c;
$separator-color: lighten($primary, 2);
$bet-slider-height: 16px;
$bet-slider-red: $red;
$bet-slider-green: #19bc9c;
$footer-height: 123px;
$mobile-footer-height: 70px;

$table-header-bg: #323442;

$dark-purple: #6658dd;
$cryptoAddressInputHeight: 60px;

// chat
$chat-width: 20%;
$chat-width-lg: 25%;

// slider
$slider-track-with: 86%;
