.input-container {
  position: relative;
  svg {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@include media-breakpoint-down(sm) {
  .input-container {
    svg {
      left: 0;
      transform: translateY(-50%) scale(0.7);
    }
    input {
      padding-left: 38px;
    }
  }
}
