.btc-amount {
  $self: &;
  &--small {
    #{$self}__icon {
      transform: scale(0.8);
    }
    #{$self}__amount {
      font-size: 14px;
    }
  }
  &__amount {
    font-size: 18px;
    &--positive {
      color: #09b144;
      font-weight: bold;
    }
    &--negative {
      color: #ff6d6d;
      font-weight: bold;
    }
  }
  &__icon {
    margin-right: 8px;
  }
}
@include media-breakpoint-down(md) {
  .btc-amount {
    &__icon {
      transform: scale(.9);
    }
  }
}
