.separator {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  border-top: 2px solid $separator-color;
  &--small {
    margin: 10px 0;
  }
  &--big {
    margin: 40px 0;
  }
  &--error {
    border-top-color: $red;
  }
}
